.navbar {
  border-radius: 0 !important;
}

.navbar-light {
  background-color: #7BB85C;
  border-bottom: 1px solid #3BA501;
}

.navbar-white {
  color: #fff;
}

.map-wrap, #gmap {
  position: absolute;
  width: 100%;
  height: 90%;
  padding: 0;
  margin: 0;
}

#gmap {
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 2px 2px -2px #cccccc;
  -moz-box-shadow: 0 2px 2px -2px #cccccc;
  -webkit-box-shadow: 0 2px 2px -2px #cccccc;
}

.marker-item {
  margin: 0;
  padding: 0;
}

.map-link-pane {
  text-align: center;
}

.map-link-pane h1 {
  font-weight: 700;
  margin: 50px 0 30px 0;
}

.map-link-ul {
  padding-left: 0;
}

.map-link {
  display: inline-block;
}

.form-control.settings-input {
  width: 300px;
  margin: 0 auto;
}

.setting-image-wrap {
  position: relative;
  width: 128px;
  height: 150px;
  margin: 0 auto;
  z-index: 1;
}

.current-preview-pic {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 128px;
  height: 128px;
  z-index: -1;
}

canvas {
  z-index: 2;
}
